@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-sans: var(--font-opensans, Arial, sans-serif);

  /* 🌿 ION Colors */
  --color-ion-green: #2A8373;
  --color-ion-green-light: #B2D9D1;
  --color-ion-green-dark: #1F6A5E;

  --color-ion-navy: #0C2E44;
  --color-ion-navy-light: #3C5C73;
  --color-ion-navy-dark: #081E2F;

  --color-ion-gray: #F4F7F9;
  --color-ion-gray-dark: #A0A0A0;

  --color-ion-accent: #F9C846;

  --color-ion-success: #3BB273;
  --color-ion-error: #E35D6A;
  --color-ion-warning: #F9C846;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
